@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:ital,wght@1,500&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
  background-color: white;
  box-sizing: border-box;
  overflow-x: hidden;
}

.navbar-toggle .icon-bar {
    width: 26px;
    height: 2px;
    transition: all 0.2s;
}

.navbar-toggler-icon {
    color: #fff !important;
}

.navbar {
    background-color: #1A1A1C !important;
    font-family: "Lobster", Arial, Helvetica, sans-serif;
    color: #fff !important;
    line-height: 1.6;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 1.3s ease-out !important;
}

.navbar-brand {
    padding: 3px 10px;
    border-bottom: 2px solid  #ECE0CC;
    font-size: 1.5rem;
    color: #ECE0CC !important;
    transition: ease-in-out 1.1s all;
    animation: rubberBand;
    animation-duration: 5s;
}

.nav-link {
    padding: 5px 30px !important;
    color: #ECE0CC !important;
    transition: 0.8s ease-out all;
}

.nav-link:hover {
    background-color: #8989ba !important;
    color: #fff !important;
    border: 2px solid black;
    animation: pulse;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s;
}

.icon-bar {
    width: 33px;
    height: 6px;
    background-color: #fff;
    display: block;
    transition: all 0.2s;
    margin-top: 6px;
}

.navbar-toggler {
    border: none;
    background: transparent !important;
}

/* THE ANIMATION */
.navbar-toggler .top-bar {
    transform: rotate(48deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.color-change {
    background-color: rgb(0, 0, 0) !important;
    font-family: "Charm";
    transition: 0.8s ease-out all;


}

.brand-change {
    font-size: 1.7rem !important;
    animation: shakeX;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 5s;
    transition: 0.8s ease-out all;
}
/* END OF NAVIGATION */
.bakery-image img{
  width: 90%;
}
.navigation{
    margin-bottom: 70px;
}
.right-side{
    margin-top: 70px;
    margin-left: 20px;

}
.intro{
  overflow-x: hidden;
  text-align: center;
}

.right-side h1{
    font-size: 32px;
    font-weight: bold;
    font-family: 'Girassol', cursive;

}
.fancy-btn{
  display:inline-block;
  position:relative;
  padding:10px 20px;
  border:2px solid #1A1A1C;
  color:#1A1A1C;
  font-family:'charm',serif;
  font-style:italic;
  font-size:2rem;
  text-decoration:none;
  margin:20px auto;
  transition: color 0.4s
}
.fancy-btn:after{
  content:" ";
  border:2px solid #1A1A1C;
  display:inline-block;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  transition:all 0.4s;
}
.fancy-btn:hover{
  color:#1A1A1C;
}
.fancy-btn:hover:after{
  border:2px solid #1A1A1C;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}

.right-side p{
  font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    font-size: 3rem;
    font-weight: bold;
    text-transform: capitalize;
}
.about{
    margin-top: 2rem;
    background-color: #1A1A1C;
    color: white;
    padding: 2rem;
    margin-bottom: 0rem;
}

.about h1:after{
    content: '';
    display: block;
    height: 3px;
    width: 200px;
    background: white;
    margin: 20px auto 5px;
}
.about p{
    font-size: 1rem;
    padding: 10px;
}
.image{
  text-align: center;
}
.image img{
  width: 50%;
  border-radius: 20%;
}
 /* SAMPLE PRODUCTS */
 #my-products {
  margin: 0;
  padding: 6rem;
  background-color: #BFD1D4;
  }
  .group{
    text-align: center;
  }
  #my-products h1{
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
  text-transform: uppercase;
  color: black;
  font-family: Charm,Arial, Helvetica, sans-serif;
  }
  #my-products h1::after{
  content: '';
  margin: 20px auto 5px;
  background: black;
  display: block;
  height: 4px;
  width: 200px;
  background: black;
  font-family: Charm,Arial, Helvetica, sans-serif;
  }
.group{
  padding: 1.2rem !important;
  text-align: center;
}
.group img{
  width: 150px;
  height: 150px;
  border-radius: 10%;
}
.group h2{
  margin: 2rem;
  border: 2px solid black;
  padding: .4rem;
  font-family: 'Roboto', sans-serif;
}
  .center{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Charm";
  }
  .center a{
    background-color: #1A1A1C;
  }
  .center a:hover{
    background-color: #3D4354;

  }
 .btn {
  padding: 1rem;
  font-size: 1.9rem;
  color: #fff;
  display: inline-block;
}

/* GET IN TOUCH */
.content-box{
    padding: 15px;
    margin-bottom: 50px;
  }
  .content-box h1{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    font-family: 'Girassol', cursive;
  }
  .content-box h1:after{
    content: '';
    display: block;
    height: 3px;
    width: 200px;
    background: black;
    margin: 20px auto 5px;
  }
  .form-group {
      margin-top: 40px;
    border-radius: 0 !important;
    background: #fff !important;
    border-radius: 0;
    box-shadow: none !important;
  }
  .contact-form .follow{
    background: #fff;
    padding: 8px;
    margin: 15px;
  }
  .contact-form .fa{
    margin: 10px;
    font-size: 20px;
    color: #CD5C5C;
    padding-right: 25px;
    font-weight: bold;
    transition: 0.7s ease-in;
  }
  .contact-form span{
    font-size: 14px;
  }
  .contact-form .fa:hover {
    background: black;
    color: white;
    border-radius: 20%;
    padding: 10px;

  }

  /* order page */
  .order {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.6)), url('https://cdn.pixabay.com/photo/2016/05/04/19/05/cookies-1372607_960_720.jpg');

  }
  /* footer */
  footer {
    padding: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    color: white;
    background: black;
    margin-top: 1px;
    }
    .foot{
      animation: bounce;
     animation-duration: 5s;
    }
 /* media queries */
  @media screen and (max-width: 760px) {
    #my-products {
      margin: 0;
      padding: 6rem;
      background-color: #BFD1D4;
      overflow-x: hidden;
      }
      #my-products h1{
      text-align: center;
      font-size: 24px;
      margin-top: 10px;
      text-transform: uppercase;
      color: black;
      font-family: Charm,Arial, Helvetica, sans-serif;
      overflow-x: hidden;
      }
      #my-products h1::after{
      content: '';
      margin: 20px auto 5px;
      background: black;
      display: block;
      height: 4px;
      width: 200px;
      background: black;
      font-family: Charm,Arial, Helvetica, sans-serif;
      }


  }
@media (max-width: 600px){
  .bakery-image img{
    width: 80%;
  }
.right-side{
  margin: .9rem 1.7rem;
}
.right-side p{
  font-size: 2rem;
  margin: .8rem;
}
.about p{
  line-height: 1.6;
  font-family: 'Open sans', sans-serif;
  font-size: 1rem;
}
.image img{
  width: 80%;
  text-align: center;
}
.group img{
  margin-left: 1.2rem;
}
.group h2{
text-align: center;
color: black;
font-family: 'Lobster', cursive;
border: 2px solid black;
border-radius: 20%;
font-size: 1.8rem;;
}
footer{
  font-size: 1.4rem;
  width: 100%;
  max-width: 100%;
}

}
